<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- Link Style File -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Include Chart.js Library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">
    <h1>WhatsApp Chat Analysis</h1>

    <!-- Form -->
    <form id="uploadForm">
        <input type="file" id="chat_file" name="chat_file" required>

        <select id="user_dropdown" name="selected_user">
            <option disabled selected value="">Select a User</option>
        </select>

        <button type="button" id="analyze">Analyze</button>
    </form>

    <!-- Stats Section -->
    <div id="stats" class="stats" style="display: none;">
        <div class="card">
            <h2 id="num_messages"></h2>
            <p>Total Messages</p>
        </div>

        <div class="card">
            <h2 id="num_words"></h2>
            <p>Total Words</p>
        </div>

        <div class="card">
            <h2 id="num_medias"></h2>
            <p>Total Media Shared</p>
        </div>

        <div class="card">
            <h2 id="num_links"></h2>
            <p>Total Links Shared</p>
        </div>
    </div>

    <!-- Chart -->
    <div class="charts">
        <canvas id="analysisChart"></canvas>
    </div>
</div>

<!-- Include JavaScript Files -->
<script src="{{ url_for('static', filename='script/script.js') }}"></script>
<script src="{{ url_for('static', filename='script/chart.js') }}"></script>
</body>
</html>